@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

.lora-font {
    font-family: 'Lora';
}

@theme inline {
    --color-footerTextColor: #8C94A3;
    --color-sectionTitleColor: #3E3232;
    --color-mainNavTileActive: #FEDA00;
    --color-searchFieldTextColor: #ABABAB;
    --color-searchFieldBackground: #F7F7F7;
    --color-footerBackgroundColor: #0D2E40;
    --color-subNavBarTileBackground: #044A72;
    --color-tertiaryNavBarBackground: #05293E;
    --color-specialBlueColoredSection: #DBEFFB;

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.inter-font {
    font-family: var(--font-inter);
}

.manrope-font {
    font-family: var(--font-manrope);
}

.dancing_script-font {
    font-family: var(--font-dancing_script);
}

.lato-font {
    font-family: var(--font-lato)
}

.poppins-font {
    font-family: var(--font-poppins)
}

.navBar {
    @apply flex w-full py-2.25 pl-20.5 pr-10.5 justify-around items-center
}

.subNavBar {
    @apply flex w-full py-4.75 pl-12.25 pr-10.25 bg-subNavBarTileBackground justify-between
}

.tertiaryNavBar {
    @apply flex w-full py-12 pl-75 bg-tertiaryNavBarBackground
}

.footer {
    @apply flex flex-col pl-22.25 pr-26 pt-13.75 bg-footerBackgroundColor pb-11.5 mt-10
}