@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

.lora-font {
    font-family: 'Lora';
}

@theme inline {
    --color-footerTextColor: #8C94A3;
    --color-sectionTitleColor: #3E3232;
    --color-mainNavTileActive: #FEDA00;
    --color-authorSectionColor: #F5F5F5;
    --color-searchFieldTextColor: #ABABAB;
    --color-searchFieldBackground: #F7F7F7;
    --color-footerBackgroundColor: #0D2E40;
    --color-subNavBarTileBackground: #044A72;
    --color-tertiaryNavBarBackground: #05293E;
    --color-specialBlueColoredSection: #DBEFFB;

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.inter-font {
    font-family: var(--font-inter);
}

.manrope-font {
    font-family: var(--font-manrope);
}

.dancing_script-font {
    font-family: var(--font-dancing_script);
}

.lato-font {
    font-family: var(--font-lato)
}

.poppins-font {
    font-family: var(--font-poppins)
}

.roboto-font {
    font-family: var(--font-roboto)
}


.navBar {
    @apply flex w-full py-2.25 md:pl-20.5 md:pr-10.5 justify-between md:justify-around items-center px-4
}

.subNavBar {
    @apply hidden md:flex w-full py-4.75 pl-12.25 pr-10.25 bg-subNavBarTileBackground justify-between
}

.footer {
    @apply flex flex-col md:pl-22.25 md:pr-26 md:pt-13.75 md:pb-11.5 bg-footerBackgroundColor mt-10 pr-9 pl-9 w-full pb-10 pt-10
}

.creativeCard {
    @apply flex flex-col p-2.5 bg-white shadow-[0_0_32px_0_rgba(0,0,0,0.07)] rounded-xl
}